<mat-toolbar color="primary" class="toolbar">
	<h1 class="example-app-name">{{ 'layout-main-label' | translate }}</h1>
	<button mat-icon-button class="toolbar-icon-cart" (click)="onCartClick()"><mat-icon>shopping_cart</mat-icon></button>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize>
	<mat-sidenav class="example-sidenav" mode="side" opened="true" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
		<mat-nav-list>
			<mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
				<span class="full-width" *ngIf="isExpanded || isShowing">{{ 'layout-data-repository-menu-label' | translate }}</span>
				<mat-icon mat-list-icon>home</mat-icon>
				<mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
			</mat-list-item>
			<div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="isShowing || isExpanded">
				<a mat-list-item href="...">{{ 'layout-data-repository-menu-resource' | translate }}</a>
        <a mat-list-item href="...">{{ 'layout-data-repository-menu-job' | translate }}</a>
        <a mat-list-item href="...">{{ 'layout-data-repository-menu-activity' | translate }}</a>
			</div>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav [(opened)]="expandCart" mode="side" position="end" class="cart-sidenav">
		<app-cart-list></app-cart-list>
	</mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
